:root {
    --color-black-1: black;
    --color-black-2: rgb(70, 70, 70);
    --color-white-1: white;
    --color-white-2: rgb(225, 225, 225);
    --size-font-1: 0.8rem;
    --size-padding-1: 10px 20px;
    --size-button-1: 20px 20px;
}

* {
    padding: 0px;
    margin: 0px;
}

content {
    display: flex;
}

header {
    background-color: var(--color-black-1);
}

header ul {
    display: flex;
    justify-content: center;
}

header li {
    padding: var(--size-padding-1);
    font-size: var(--size-font-1);
    list-style: none;
}

header a {
    text-decoration: none;
    color:var(--color-white-1);
}

header a:hover {
    text-decoration: underline white;
}

aside {
    width: 10vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside button {
    padding: 15px 15px;
    border-radius: 100px;
    background-color: var(--color-white-1);
    border-color:rgba(0, 0, 0, 0)
}

aside button:hover {
    background-color: var(--color-white-2);
}

#navBarBtn:hover {
    place-content: 메뉴;
}

.navBar {
    display: none;
    width: 100%;
    height: 100%;
    background-color: wheat;
}

sectionWrap {
    margin-right: 10vw;
    width: 100%;
}

.headMenu {
    padding: 30px 0px;
    border-bottom: var(--color-black-2) solid 1px;
}

.headMenu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#a {
    background-color: wheat;
}